<h1>Your Order History</h1>
<% @orders.each do |order| %>
<table>
<tbody>
<tr>
	<th>Past Order ID</th>
	<th>Total Price</th>
</tr>
<tr>
	<td><%= link_to "#{order.id}", order %></td>
	<td><%= order.total_price %></td>
</tbody>
</table>
<% end %>