<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p><%= number_to_currency(@product.price) %></p>
<%= button_to "Add to Cart", new_line_item_path(product_id: @product, user_id: current_user) %>